@use "sass:map";
@use "../../../styles/abstract/export.abstracts.scss" as abstract;

:host a {
  display: inline-block;
  padding: .25rem .5rem;
  color: map.get(abstract.$foreground, 100);
  margin: 0 4px;
  border-radius: 4px;
  outline: 2px solid rgb(255, 255, 255, 0);
  transition: background-color .2s ease-out, outline-color .2s ease-out;

  &:hover {
    background-color: map.get(abstract.$primary, 200);
  }

  &:focus,
  &:focus-visible {
    outline-color: map.get(abstract.$primary, 200);
  }
}
