<select name="contractSectionFilter" id="contract-section-filter" (change)="onChange($event)">
  <option value="all">
    toutes les sections
  </option>
  @for (contractDetail of contractDetails; track $index) {
    <option [attr.value]="contractDetail.title">
      {{ contractDetail.title }}
    </option>
  }
</select>

@if (selectedDetail === 'all') {
    @for (contractDetail of contractDetails; track $index) {
      <app-contract-sections [contractId]="'contract-detail-'+$index" [contractSection]="contractDetail" (btnClick)="testAlert(contractDetail.title)">
      </app-contract-sections>
    }
  } @else {
    <app-contract-sections [contractId]="'contract-detail-'" [contractSection]="contractDetail" (btnClick)="testAlert(contractDetail.title)">
    </app-contract-sections>
  }
  <!-- <app-contract-sections [contractId]="'contract-detail-'+$index" [contractSection]="contractDetail" (btnClick)="testAlert(contractDetail.title, 'contract-detail-'+$index)">
  </app-contract-sections> -->

<!-- @if (modifiedDetailTitle.length > 0) {
  <app-contract-msg [msgId]="'info'+modifiedDetailId" [contractSection]="modifiedDetailTitle" [desc]="modifiedDetailId"></app-contract-msg>
} -->
